.box {
  
    left: 0;
    top: 50%;
    width: 180px;
    border: 1px solid rgb(0, 70, 128);
    padding: auto;
    margin: auto;
  
  }
  
  .title {
    padding-left: 35px;
    position: relative;
   text-align: center;
    font-size: 30px;
  }
  
  .button {
    left: 0;
    top: 50%;
    width: 100%;
    border: 1px solid rgb(0, 70, 128);
    padding: auto;
    margin: auto;
    
  }
  