<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Uebung 2</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button class= "right" mat-raised-button (click)="logout()" color="primary">Logout</button>
   </mat-toolbar-row>
</mat-toolbar>
<app-animation></app-animation>

<app-content></app-content>
