.flex-container {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .animation {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
