
  <h1>Mein HTML</h1>
  
  <h2>Tags..</h2>
  <p>
      Alle Eingaben erfordern unterscheidliche "Tags",
      wobei nicht alle immer geschlo├ƒen werden m├╝ssen.
      Zum Beispiel das &lt;br&gt; Tag, aber dazu noch sp├ñter... <br>
      Er├Âffnet wir alles mit einem &lt;html&gt;Tag.
      Dannach folgt das &lt;head&gt;Tag, dies beinhaltet die Metadaten einer Seite. 
      Nun folgt das &lt;body&gt;Tag welches f├╝r den eigentlichen Inhalt verwendet wird.
      Um unterschiedliche ├£berschriften zu generieren verwendet man, 
      sogenannte &lt;h&gt; Tags, diese werden mit einer Ziffer erg├ñnzt, je niedriger diese Ziffer ist 
      desto gr├Â├ƒer ist die ├£berschrift. <br>
  </p>
  <p> 
      F├╝r ein Textabsatz wird das &lt;p&gt;Tag verwendet, es steht f├╝r "Paragraph". 
  </p>
      Da HTML Leehrzeichen in einem Paragraphen ignoriert, verwendet man das &lt;br&gt;Tag. 
      Es erzeugt einen neuen Absatz.<br>
  <p> 
      Nat├╝rlich l├ñsst sich HTML Text auch unterscheidlich formatieren.
      So das &lt;b&gt;Tag, es l├ñsst alles innerhalb des Tags <b>fett</b> gedruckt erscheinen.
      Um einen kursiven Text zu erzeugen wird das &lt;i&gt; Tag verwnendet, <i>dies sieht dann so aus.</i>
      Nat├╝rlich lassen siech diese Tags kombinieren, um einen Text <b><i>kursiv und fett anzuzeigen.</i></b>
      Mit dem &lt;mark&gt;Tag l├ñsst sich Text <mark>markieren</mark>. 
      Das &lt;small&gt;l├ñsst den Inhalt <small>kleiner</small> erscheinen.
      Das &lt;sub&gt;Tag, stellt den Inhalt hingegen <sub>niedriggestellt</sub> dar. 
      Das Gegenst├╝ck zum &lt;sub&gt;Tag ist das &lt;sup&gt;Tag
      welchen den Inhalt <sup>hoch</sup> Um Text durchgestrichen anzuzeigen,
      wird das &lt;del&gt;Tag verwendet. Dies sieht dann etw so <del>aus.</del> 
      Und zum Schlu├ƒ haben wir noch das &lt;ins&gt;Tag was f├╝r <ins>unterstrichenen</ins> Text steht. 
  </p>
  
  <h2>Bilder</h2>
  <p>Nat├╝rlich ist es auch m├Âglich ein Bild einzuf├╝gen, hierzu verwendet man das &lt;img&gt;Tag wobei man hier das Bild als Attribut, also innerhalb des Tags angibt.<br>
      Es ist durchaus m├Âglich Links von bildern anzugeben, jedoch kann dies zu Problemen f├╝hren wenn der Link nicht mehr funktioniert.
      Deshalb sollte sich das Bild eher Lokal in dem Order der Page befinden. <br>
      Zu beachten ist auch das zweite Atribut "alt" mit dem man eine alternative Beschreibung des Bildes Liefern kann.
      Hier das Tag f├╝r unser Demobild &lt;img =src="demobild.jpg" alt="demoschild"&gt;
  
              <div
                  ><img src="demobild.jpg" alt="demoschild" />
              </div>
  

  
  <h2>Links</h2>
  <p>
      An dieser Stelle betrachten wir Links. <br>
      Links werden mit einem &lt;a&gt; "verankert" (anchor) und als Atribut erhalten sie ein href. <br>
      Das href steht f├╝r Hypertextreference und hier steht der eigentliche Link. Als letztes fehlt 
      nur noch die Beschreibung des Links selbst. Hier schaut es so aus: <br>
      <b> &lt;a href=https://www.w3schools.com>w3schools &lt;/a&gt;</b> <br>
  </p>
  
  
  <div><a href=https://www.w3schools.com>w3schools
</div>
  
  
  
  <H2>Listen</H2>
  <p>
       Um Listen zu erstellen muss man sich vorher im klaren sein welche Liste man erstellen m├Âchte. <br>
      Zur auswahl stehen, geordnete und ungeordnete Listen, der einzige unterschied ist das die geordnete
      Liste eine Zahl oder einen Buchstaben hat der eine "Ordnung" hervorruft. eine geordnete Liste wird mit einem 
      &lt;ol&gt; (ordered list)erstellt. Innerhalb dieses Tags muss jedes Element ein &lt;li&gt;Tag enthalten (ListItem). <br>
      Ungeordnete Listen werden mit dem &lt;ul&gt;(unordered list) Tag und ebenso mit einem "ListItem" Tag erstellt.
  
      <h3>geordnete Liste</h3>
      <ol>
              <li>Euro</li>
              <li>Yen</li>
              <li>Pfund</li>
          </ol>
  
          <h3>ungeordnete Liste</h3>
  
          <ul>
                  <li>item1</li>
                  <li>item2</li>
                  <li>item3</li>
          </ul>

  
      <h2>Tabelen</h2>
  <p>
      Nat├╝rlich ist es auch m├Âglich Tabellen in HTML zu erstellen. wieso auch nicht. <br>
      hierzu verwendet man das &lt;table&gt;Tag. Innherhalb dieser Tags werden die Reihen Tags &lt;tr&gt;erstellt. <br>
      sie definieren die Zellen├╝berschriften in unserem Beispiel den Vornamen, den Nachnamen und das Alter. 
      Nachdem die erste Zeile steht, kann die Tabelle mit Daten bef├╝llt werden. Hierzu kommt wieder das &lt;tr&gt; zum Einsatz,
       jedoch gefolgt vom &lt;td&gt; Tag. (TableData).
       <app-table></app-table>
  
        <b>Falls du ├╝ber neuen Content informiert bleiben willst kannst du dich f├╝r den Newsletter anmelden. </b>  
      </p>
  
       <form id="form_id" method="post" name="myform">
          <label>Newsletter :</label>
          <input type="email" name="emailAddr" id="emailAddr"/>
          <input type="button" value="subscribe" id="submit" onclick="subs()"/>
      </form>
   
<br>

