<h1 class="filter">Tabelle</h1>
<mat-form-field class="filter">
  <input
    (keyup)="applyFilter($event.target.value)"
    matInput
    placeholder="Filter"
  />
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Dessert (100g)</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef>Calories</th>
    <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
  </ng-container>
  <ng-container matColumnDef="fat">
    <th mat-header-cell *matHeaderCellDef>Fat (g)</th>
    <td mat-cell *matCellDef="let element">{{ element.fat }}</td>
  </ng-container>
  <ng-container matColumnDef="carbs">
    <th mat-header-cell *matHeaderCellDef>Carbs (g)</th>
    <td mat-cell *matCellDef="let element">{{ element.carbohydrates }}</td>
  </ng-container>
  <ng-container matColumnDef="protein">
    <th mat-header-cell *matHeaderCellDef>Protein (g)</th>
    <td mat-cell *matCellDef="let element">{{ element.protein }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<br />
<form>
  <div>
    <input type="text" placeholder="Name" [(ngModel)]="name" name="name" />
    <input
      type="text"
      placeholder="Calories"
      [(ngModel)]="calories"
      name="calories"
    />
    <input type="text" placeholder="Fat" [(ngModel)]="fat" name="fat" />
    <input type="text" placeholder="Carbs" [(ngModel)]="carbs" name=" carbs" />
    <input
      type="text"
      placeholder="Protein"
      [(ngModel)]="protein"
      name="protein"
    />
    <button type="button" (click)="postFood()">Senden</button>
  </div>
</form>
